/*
* レイアウト
*/
@use "mixin" as *;
/* 非表示設定 */
.menu_none1 {
    display: none;
}



// 講師紹介科目
#main_content .post-6920 h3 {
    font-size: var(--ark-fz--xxl, 2em) !important;
    font-weight: bold !important;
}

#main_content .post-8058 h4,
#main_content .post-10704 h4 {
    font-weight: normal !important;}